
.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/libraries/Maven__antlr_antlr_2_7_7.xml

.idea/libraries/Maven__ch_qos_logback_logback_classic_1_1_7.xml

.idea/libraries/Maven__ch_qos_logback_logback_core_1_1_7.xml

.idea/encodings.xml

.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_8_1.xml

.idea/libraries/Maven__dom4j_dom4j_1_6_1.xml

.idea/libraries/Maven__com_jayway_jsonpath_json_path_2_2_0.xml

.idea/libraries/Maven__javax_validation_validation_api_1_1_0_Final.xml

.idea/libraries/Maven__junit_junit_4_12.xml

.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_8_5_4.xml

.idea/libraries/Maven__javax_transaction_javax_transaction_api_1_2.xml

.idea/libraries/Maven__net_minidev_accessors_smart_1_1.xml

*.xml

houses.iml
